params {
    help = false
    indir = false
    outdir = false
}

profiles {
    docker {
        process {
            withName: filter_bam {
                container = "quay.io/hdc-workflows/bwa-samtools:4f00123"
            }
            withName: count_bam {
                container = "quay.io/fhcrc-microbiome/python-pandas:0fd1e29"
            }
            withName: merge_csv {
                container = "quay.io/fhcrc-microbiome/python-pandas:0fd1e29"
            }
        }
    }
}
